@mixin clearfix(){
    content: "";
    clear: both;
    display: table;
}

//----------------------------------------------
// Effects
//----------------------------------------------
@mixin standardHoverEffect(){
    transition: .3s ease-out;
}