*,
html,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $primaryFont;
    color: $white;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: lighter;

    p {
        margin-top: 10px;
    }
}

@for $i from 1 through length($headingList) {
    h#{$i}{
        font-size: #{nth($headingList, $i)};
    }
}

p,
input,
span,
tr,
cite {
    margin-top: 0;
    font-size: $h4;
}

a {
    text-decoration: none;
}

#page {
    a {
        color: $white;
    }
}

img {
    max-width: 100%;
}

hr {
    border: 1px solid rgba(255, 255, 255, .1);
}

@media (max-width: $mediaMedium) {
    body {
        overflow-y: auto;
    }
}