/*----------------------------------------
 * Margin and Padding
 *----------------------------------------*/
@for $i from 0 through 30 {
    .br-#{$i}{
        border-radius: #{$i}px;
    }

    .pt-#{$i}{
        padding-top: #{$i}px;
    }

    .pr-#{$i}{
        padding-right: #{$i}px;
    }

    .pb-#{$i}{
        padding-bottom: #{$i}px;
    }

    .pl-#{$i}{
        padding-left: #{$i}px;
    }

    .mt-#{$i}{
        margin-top: #{$i}px;
    }

    .mr-#{$i}{
        margin-right: #{$i}px;
    }

    .mb-#{$i}{
        margin-bottom: #{$i}px;
    }

    .ml-#{$i}{
        margin-left: #{$i}px;
    }
}